.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: white;
  border-bottom: 1px solid #eee;
  font-family: sans-serif;
  /* height: 110px; */
  /* position: absolute; */
  top: 0px;
}

.navbar-left .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-left .car-icon {
  width: 90px;
  height: auto;
  margin-bottom: 5px;
}

.navbar-middle .nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-middle .nav-links li {
  font-size: 1.1em;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-middle .nav-links .contact {
  display: flex;
  align-items: center;
}

.navbar-middle .nav-links .phone-icon {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.navbar-right .auth-buttons {
  display: flex;
  align-items: center;
}

.navbar-right .auth-buttons span {
  font-size: 1em;
  padding: 9px 14px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-right .auth-buttons .signup {
  border: 1px solid #333;
  border-radius: 20px;
}


